@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

:root{
  --theme-color: #163832;
}

body {
    margin: 0;
    font-family: "Lato",sans-serif;
}

.body{
  font-size: 1.25rem;
}

.sidebar {
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #163832;
    position: fixed;
    height: 100%;
    overflow: auto;
    font-weight: 100;
}

.sidebar a,span {
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
}

.sidebar span{
    font-size:3;
}

.sidebar a.active {
    background-color: var(--theme-color);
    color: white;
}

.sidebar a:hover:not(.active) {
    background-color: #4fafa6;
    color: white;
}

div.content {
    margin-left: 200px;
    padding: 1px 16px;
    /*height: 1000px;*/
}

@media screen and (max-width: 700px) {
    .sidebar {
        width: 100%;
        height: auto;
        position: relative;
    }

    .sidebar a {
        float: left;
    }

    div.content {
        margin-left: 0;
    }
}

@media screen and (max-width: 400px) {
    .sidebar a {
        text-align: center;
        float: none;
    }
}

